@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko&display=swap');

footer {
    background-color: rgb(3, 36, 69);
    color: aliceblue;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.home {
    margin-top: 10px;
    background-color: rgb(111, 149, 244);
    text-align: center;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
}

body {
    font-family: 'Teko', sans-serif;
}

p {
    font-size: larger;
}

img:hover {
    cursor: pointer;
}

.icon {
    margin-left: 10px;
    margin-right: 10px;
    transition: all .3s;
}

.icon:hover {
    rotate: 360deg;
    scale: 1.2;
    filter: drop-shadow(0 0 15px #000);
}